{% extends 'index.html' %}

{% block content %}
<h1>Stock Buy List</h1>

  <table>
    <tr>
      <th>Company</th>
      <th>Ticker Symbol</th>
    </tr>
    <tr>
      <td>ADANI ENTERPRISES LTD.</td>
      <td><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/home/buyList/ADANIENT.NS">ADANIENT.NS</a></li></td>
    </tr>
    <tr>
      <td>APOLLO HOSPITAL</td>
      <td><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/home/buyList/APOLLOHOSP.NS">APOLLOHOSP.NS</a></li></td>
    </tr>
    <tr>
      <td>ITC</td>
      <td><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/home/buyList/ITC.NS">ITC.NS</a></li></td>
    </tr>
    <!-- Add more rows for additional stocks -->
    <tr>
        <td>PAYTM</td>
        <td><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/home/buyList/PAYTM.NS">PAYTM.NS</a></li></td>
      </tr>
      <tr>
        <td>TRIDENT</td>
        <td><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/home/buyList/TRIDENT.NS">TRIDENT.NS</a></li></td>
      </tr>
      <tr>
        <td>WIPRO LTD.</td>
        <td><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/home/buyList/WIPRO.NS">WIPRO.NS</a></li></td>
      </tr>
      <!-- Add more rows for additional stocks -->
      <tr>
        <td>TATA CONSULTANCY SERVICES</td>
        <td><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/home/buyList/TCS.NS">TCS.NS</a></li></td>
      </tr>
      <tr>
        <td>INFOSYS</td>
        <td><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/home/buyList/INFY.NS">INFY.NS</a></li></td>
      </tr>
      <tr>
        <td>HCL TECHNOLOGIES</td>
        <td><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/home/buyList/HCLTECH.NS">HCLTECH.NS</a></li></td>
      </tr>
      <!-- Add more rows for additional stocks -->
      <tr>
        <td>HINDUSTAN UNILIVER</td>
        <td><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/home/buyList/HINDUNILVR.NS">HINDUNILVR.NS</a></li></td>
      </tr>
      <tr>
        <td>KOTAK MAHINDRA BANK</td>
        <td><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/home/buyList/KOTAKBANK.NS">KOTAKBANK.NS</a></li></td>
      </tr>
      <tr>
        <td>BHARTI AIRTEL TELECOMMUNICATIONS</td>
        <td><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/home/buyList/BHARTIARTL.NS">BHARTIARTL.NS</a></li></td>
      </tr>
      <!-- Add more rows for additional stocks -->
      <tr>
        <td>ADANI PORTS</td>
        <td><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/home/buyList/ADANIPORTS.NS">ADANIPORTS.NS</a></li></td>
      </tr>
      <tr>
        <td>TATA MOTORS</td>
        <td><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/home/buyList/TATAMOTORS.NS">TATAMOTORS.NS</a></li></td>
      </tr>
      <tr>
        <td>RELIANCE TELECOMMUNICATIONS</td>
        <td><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/home/buyList/RELIANCE.NS">RELIANCE.NS</a></li></td>
      </tr>
      <!-- Add more rows for additional stocks -->
  </table>

{%endblock%}