{% extends 'index.html' %}

{% block content %}
<h1>
    Buy Stocks
</h1>
<ol>
    <li><a href="/home/buyList/ADANIENT.NS">ADANIENT.NS</a></li>
    <li><a href="/home/buyList/APOLLOHOSP.NS">APOLLOHOSP.NS</a></li>
    <li><a href="/home/buyList/ITC.NS">ITC.NS</a></li>

    <li><a href="/home/buyList/PAYTM.NS">PAYTM.NS</a></li>
    <li><a href="/home/buyList/TRIDENT.NS">TRIDENT.NS</a></li>
    <li><a href="/home/buyList/WIPRO.NS">WIPRO.NS</a></li>
    <li><a href="/home/buyList/TCS.NS">TCS.NS</a></li>
    <li><a href="/home/buyList/INFY.NS">INFY.NS</a></li>
    <li><a href="/home/buyList/HCLTECH.NS">HCLTECH.NS</a></li>
    <li><a href="/home/buyList/HINDUNILVR.NS">HINDUNILVR.NS</a></li>

    <li><a href="/home/buyList/KOTAKBANK.NS">KOTAKBANK.NS</a></li>

    <li><a href="/home/buyList/BHARTIARTL.NS">BHARTIARTL.NS</a></li>

    <li><a href="/home/buyList/ADANIPORTS.NS">ADANIPORTS.NS</a></li>

    <li><a href="/home/buyList/TATAMOTORS.NS">TATAMOTORS.NS</a></li>
    <li><a href="/home/buyList/RELIANCE.NS">RELIANCE.NS</a></li>



</ol>

{%endblock%}