{% extends 'index.html' %}

{% block content %}
<h1>
    Sell Stocks
</h1>

<ol>
    <li><a href="/home/sellList/ADANIENT.NS">ADANIENT.NS</a></li>
    <li><a href="/home/sellList/APOLLOHOSP.NS">APOLLOHOSP.NS</a></li>
    <li><a href="/home/sellList/ITC.NS">ITC.NS</a></li>

    <li><a href="/home/sellList/PAYTM.NS">PAYTM.NS</a></li>
    <li><a href="/home/sellList/TRIDENT.NS">TRIDENT.NS</a></li>
    <li><a href="/home/sellList/WIPRO.NS">WIPRO.NS</a></li>
    <li><a href="/home/sellList/TCS.NS">TCS.NS</a></li>
    <li><a href="/home/sellList/INFY.NS">INFY.NS</a></li>
    <li><a href="/home/sellList/HCLTECH.NS">HCLTECH.NS</a></li>
    <li><a href="/home/sellList/HINDUNILVR.NS">HINDUNILVR.NS</a></li>

    <li><a href="/home/sellList/KOTAKBANK.NS">KOTAKBANK.NS</a></li>

    <li><a href="/home/sellList/BHARTIARTL.NS">BHARTIARTL.NS</a></li>

    <li><a href="/home/sellList/ADANIPORTS.NS">ADANIPORTS.NS</a></li>

    <li><a href="/home/sellList/TATAMOTORS.NS">TATAMOTORS.NS</a></li>
    <li><a href="/home/sellList/RELIANCE.NS">RELIANCE.NS</a></li>



</ol>

{%endblock%}